<html>
<head>
</head>  

<body>
<div>
 <p>
    <a href=ccategory#Small>Small Cars</a>&nbsp;&nbsp;&nbsp;
    <a href=ccategory#Compact_cars>Compact Cars</a> &nbsp;&nbsp;&nbsp;
    <a href=ccategory#Sedan>Sedan Cars</a> &nbsp;&nbsp;&nbsp;
    <a href=ccategory#Intermediate>Intermediate Cars</a> &nbsp;&nbsp;&nbsp;
    <a href=ccategory#XUV>XUV Cars</a> &nbsp;&nbsp;&nbsp;
  </p>
  

 <h3><a name="Small"></a>Small_Cars</h3>
    <img (click)="selectCar('Small cars')" src="./assets/img/Small1.jpg" class="responsive" alt="Image 1" height=150 ><br><br>

    <img (click)="selectCar('Small cars')" src="./assets/img/Small2.jpg" class="responsive" alt="Image 1" height="150" ><br><br>
    <h3><a name="Compact_cars"></a>Compact_Cars</h3>
    <img (click)="selectCar('Compact cars')" src="./assets/img/Compact1.jpg" class="responsive" alt="Image 1" height="150" ><br><br>
    <img (click)="selectCar('Compact cars')" src="./assets/img/Compact2.jpg" class="responsive" alt="Image 1" height="150" ><br><br>
    <h3><a name="Sedan"></a>Sedan_Cars</h3>
    <img (click)="selectCar('Sedan cars')" src="./assets/img/Sedan1.jpg" class="responsive" alt="Image 1" height="150" width="350" ><br><br>
    <img (click)="selectCar('Sedan cars')" src="./assets/img/Sedan2.jpg" class="responsive" alt="Image 1" height="150" ><br><br>
    <h3><a name=Intermediate></a>Intermediate_Cars</h3>
    <img (click)="selectCar('Intermediate cars')" src="./assets/img/Intermediate.jpg" class="responsive" alt="Image 1" height="150" ><br><br>
    <h3><a name=XUV></a>XUVs_Cars</h3>
    <img  (click)="selectCar('XUVs cars')" src="./assets/img/SUV.jpg" class="responsive" alt="Image 1" height="150" ><br> <br>
  </div>
  </body>
  </html>

  
  